<ul>
  <% @files.each do |file| %>
  <li>
    <a href="/<%= file %>"><%= file %></a>
    <a href="/<%= file %>/edit"> edit file</a>
    <form class="inline" action="/<%= file %>/delete" method="post"> 
      <button type="submit">delete</button>
    </form>
  </li>
  <% end %>
</ul