<form action="/users/signin" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" value = <%= params[:username] %>>
   <label for="password" id="password">Password:</label>
  <input type="text" name="password">
  <button type="submit">Sign in</button>
</form>

  <p><a href="/users/signup">Sign Up</a></p>
  
  
